<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text color="warning" class="ion-text-center">
    <h1>Acerca de RegistrAPP</h1>
  </ion-text>
  <p style="font-size: larger;">RegistrAPP es una aplicación que permite a docentes y alumnos simplificar la tarea de registrar asistencia. Con tan solo un código QR <ion-icon name="qr-code-outline"></ion-icon>
  tu asistencia quedará registrada exitosamente con hora y fecha.
  </p>
  <img src="assets/LOGO_APP.png" alt="RegistrAPP">

</ion-content>