<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-button (click)="MostrarMenu()" color="warning">
       <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
     </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="warning" slot="end" [routerLink]="['/perfil']" expand="block" shape="round" style="font-weight: bolder;">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img style="padding-top: 15px; padding-left: 7px;" src="assets/LOGO_APP.png" alt="RegistrAPP">
  <ion-list>
    
    <ion-item>
      <ion-select value="asignatura" label="Seleccione una asignatura" labelPlacement="floating" [(ngModel)]="asignatura">
        <ion-select-option value="{{ asignatura }}">{{ asignatura }}</ion-select-option>
        <ion-select-option value="{{ asignatura2 }}">{{ asignatura2 }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea label="Comentarios de la clase" labelPlacement="floating" [(ngModel)]="comentario"></ion-textarea>
    </ion-item>
    <br>
    <ion-button (click)="generarQR()" expand="block" shape="round" size="large" color="warning">Generar QR</ion-button>
  </ion-list>
  <ion-card *ngIf="qrData" class="center-container">
    <ng-container #qrElement>
      <div class="qr-wrapper">
        <qrcode class="qr-container" [qrdata]="qrData" [allowEmptyString]="true" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </ng-container>
  </ion-card>
</ion-content>