<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="font-size: large;">Bienvenido/a!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="font-size: xx-large; font-weight: bolder;">Ingresa tus credenciales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="Login()">
        <ion-list>
          <ion-item>
            <ion-input label="Usuario" labelPlacement="floating" type="text" formControlName="username"></ion-input>
          </ion-item>
          <div class="error" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
            <div *ngIf="loginForm.get('username')?.hasError('required')">
              El usuario es obligatorio.
            </div>
            <div *ngIf="loginForm.get('username')?.hasError('minlength')">
              El usuario debe ser de mínimo 4 carácteres.
            </div>
          </div>
  
          <ion-item>
            <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es obligatoria.
            </div>
            <div *ngIf="loginForm.get('password')?.hasError('minlength')">
              La contraseña debe ser de mínimo 4 carácteres.
            </div>
          </div>
        </ion-list>
        <br>
        <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" color="success" shape="round" size="large">Iniciar sesión</ion-button>
        <div style="font-size: 15px; padding-left: 6px;">
          No tienes cuenta? <a style="font-style: italic;" [routerLink]="['/registro']">Regístrate!</a>
          <br>O si eres docente <a style="font-style: italic;" [routerLink]="['/registro-docente']">regístrate aquí</a>.
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>