<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button color="warning" defaultHref="/tareas"></ion-back-button>
    </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle style="font-style: italic;" *ngIf="usuario.role === 'docente'">ID: {{tarea.id}}</ion-card-subtitle>
      <ion-card-title><strong style="font-size: xxx-large;">{{tarea.titulo}}</strong></ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: large;">
      <span><b>Descripción:</b> {{tarea.descripcion}}</span>
      <br>
      <br>
      <span><b>Estudiante(s) asignado(s):</b> {{tarea.estudianteAsignado}}</span>
      <br>
      <br>
      <span><b>Obligatoria:</b> {{ tarea.obligatoria ? 'Sí' : 'No' }}</span>
      <br>
      <br>
      <ion-button *ngIf="usuario.role === 'docente'" [routerLink]="['/actualizar-tarea', tarea.id]" color="medium" expand="block" shape="round" size="large">
        Editar <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
      <ion-button *ngIf="usuario.role === 'docente'" [routerLink]="['/eliminar-tarea', tarea.id]" color="danger" expand="block" shape="round" size="small">
        Eliminar <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
